{% schema %}
  {
    "name": "designer",
     "presets": [
    {
      "name": "designer"
     
    }
  ]
  }
{% endschema %}
<p>test</p>
{{ product.metafields.custom.designer }}
{% for metaobject in product.metafields.custom.designer.value %}
  {% if metaobject.system.type == "designer_objects" %}
    <p>value</p>
  {% else %}
    {{ metaobject.system.handle }}
    <p>value1</p>
  {% endif %}
{% endfor %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}